@use '@angular/material' as mat;

@include mat.core();

:host {
    --bright-blue: oklch(79.586% 0.17521 325.999);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --black: oklch(0% 0 0);
    --violeta-escuro: oklch(30.446% 0.12807 326.173 / 0.493);
  }
  * {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
  }
  .cabecalhoMenuInicial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    padding: 0.09rem;
    background-color: var(--electric-violet);
    color: white;

  }
  ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.agrupamentoOpcoesMenuDireito{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-right: 10px;
  margin-left: 20px;
}

.agrupamentoOpcoesMenuDireito li{
  list-style: none;
  padding:0;
  user-select: none;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  transition: background 0.2s ease;

}
.naoselecionavel{
  user-select: none;
}

.agrupamentoOpcoesMenuDireito li:hover {
  background-color: var(--violeta-escuro);
  box-shadow: var(--violeta-escuro);
  border-radius: 4px;
}
.agrupamentoTextoIcone{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

::ng-deep .menu-usuario {
  margin-top: 0.3rem !important;

}
